* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
/* bgm按钮 */
.music-btn {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 3;
    background:url(https://kfc.normcore.com/bft_burger/static/images/icon-play.png) 
    no-repeat center / cover;
    
}
.music-btn.off {
    background-image: url(https://kfc.normcore.com/bft_burger/static/images/icon-mute.png);

}
/* swiper */
.swiper-container{
    width: 100%;
    height: 100%;
}
.view{
    width: 100%;height: 100%;
    overflow: hidden;
}
/* 第二屏内容 */
.view.special {
    position: absolute;
    background-image: linear-gradient(60deg,#f8ddd1,#faece5 73% , #fad2c0);
}
/* 秋千 外层容器 */
.art {
    width: 750px;
    height: 1334px;
    right: 0;
    position: absolute;
    transform: scale(.5);
    transform-origin: top right ;
    top : -140px;
}
/* 秋千内容 */
.swing {
    position: absolute;
    left: 226px;
    top: -180.25px;
    width: 478px;
    height: 1038px;
    background:url(//s5.music.126.net/static_public/5c21db8d4684556c72180904/swing.88545d6c8e1ac798465e367f8e5357ab.png)
     no-repeat;
     transform-origin:-16% -29%;
     animation: ani_qiuqian 6s ease-in-out infinite;
}
@keyframes ani_qiuqian{
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(31deg);
    }
    100% {
        transform: rotateZ(0);
    }
}
/* leg2 腿 */
.swing .leg2 {
    position: absolute;
    left: 185.375px;
    top: 958px;
    width: 130px;
    height: 32px;
    background:url(//s5.music.126.net/static_public/5c21db8d4684556c72180904/leg2.d7bc44a91b6974450f2ccc430846c63d.png) no-repeat;
    transform-origin: 91% 33%;
    animation: ani_leg2 8s ease infinite;
}
@keyframes ani_leg2 {
    0% {
        transform:rotateZ(0);
    }
    25% {
        transform: rotateZ(-86deg);
    }
    50% {
        transform:rotateZ(0);
    }
    75% {
        transform:rotateZ(-83deg);
    }
    100% {
        transform:rotateZ(0);
    }
}
.swing .leg2.jiojio {
    position: absolute;
    width: 57%;
    height: 44px;
    left: -27.75px;
    top: -10.5px;
    background: url(//s5.music.126.net/static_public/5c21db8d4684556c72180904/leg2-part.8f70bb7fc789a70bc78c48aa7718a765.png);

}
/* 腿的一部分 */
.leg1 .jiojio {
    display: block;
    position: absolute;
    left: 26.25px;
    top: 102.5px;
    width: 39px;
    height: 62px;
    background: url(//s5.music.126.net/static_public/5c21db8d4684556c72180904/leg1-part.f2f17703a6af8fd2af5e0f5a9f320623.png) no-repeat;
  }
  .swing .leg1 {
    display: block;
    position: absolute;
    left: 290.375px;
    top: 955.25px;
    width: 63px;
    height: 130px;
    background: url(//s5.music.126.net/static_public/5c21db8d4684556c72180904/leg1.b1df6a7d1a794d36fbd0e1277733e1cf.png) no-repeat;
    transform-origin: 17.8571428571429% 13.3653846153846%;
    animation: ani5_leg1 8s ease infinite;
  }
  @keyframes ani5_leg1{
      0% {
            transform: rotateZ(0);
      }
      25% {
          transform:rotate(108deg);
      }
      50% {
        transform: rotateZ(0);
  }
        75% {
            transform:rotate(108deg);
        }
        100% {
            transform: rotateZ(0);
        }
  }
/* 头 */
.swing .neck, .swing .head {
    display: block;
    position: absolute;
    left: 451.125px;
    top: 855.5px;
    width: 51px;
    height: 42px;
  }
  /* 脖子 */
  .swing .neck {
    background: url(//s5.music.126.net/static_public/5c21db8d4684556c72180904/neck.07a0013beff9796ed79c2cea542e5af2.png) no-repeat;
  }
  /* 头 */
  .swing .head {
    background: url(//s5.music.126.net/static_public/5c21db8d4684556c72180904/head.90bf892023d7df0522a4b53fc07e38df.png) no-repeat;
    animation: ani2_head 8s ease infinite;
  }
  @keyframes ani2_head {
      0% {
        transform: rotateZ(0);
      }
      25% {
        transform: rotate(-55deg);
      }
      62% {
        transform: rotate(-55deg);
      }
      87% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(0);
      }
  }
  /* 头发 */
  .swing .head .part {
    background: url(//s5.music.126.net/static_public/5c21db8d4684556c72180904/head-part.22d4381c4bd6cb1c3afd2b1bfcfe22f1.png) no-repeat;
    left: 20px;
    top: 2px;
    width: 40px;
    height: 47px;
    position: absolute;
  }  
  




