.ui.hero
  background-color #f0f0f0
  .item
    overflow hidden
    position relative
    .content
      display flex
      align-items center
      height 696px
      .ui.container
        position relative
        z-index 2
    .header
      font-size 48px
      font-weight 500
      color rgba(0,0,0,1)
      line-height 67px
    .sub.header
      font-size 18px
      font-weight 500
      color rgba(0,0,0,1)
      line-height 25px
      letter-spacing 3px
    .description
      font-size 18px
      font-weight 500
      color rgba(0,0,0,1)
      line-height 25px
    img
      position absolute
      width 100%
      top 0
      bottom 0
      margin 0 auto
      height 100%
      object-fit cover
