.app
  width: 100%
  height: 100%
  color: #DDDDDD
  font: Arial,Helvetica,sans-serif
  font-size 18px
  -webkit-tap-highlight-color: transparent
  .app-header
    height: 55px
    width 100%
    line-height: 55px
    color: #ffffff
    background-color: #D43C33
    text-align: center
  .music-tab
    display: flex
    height: 40px
    line-height 40px
    text-align: center
    color: #000000
    .tab-item
      flex: 1
      .nav-link
        display: block
        color: inherit
        text-decoration: none
        &.active
          color: #D43C33
          border-bottom: 2px solid #D43C33