*{
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 20px;
    height: 100%;
    width: 100%;
}
.pay-page{
    height: 100%;
    background: #F5F1FA;
}
.header{
    padding: 0.75rem 0.75rem 1rem 0.75rem;
    background: #ffffff;
}
.header-title{
    font-size: 0.85rem;
}
.header-items{
    margin-top: 0.75rem;   
}
.item-price{
    border: 1px solid #999999;
    border-radius: 5px;
    text-align: center
}
.item-price__month{
    font-size: 0.95rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #333333;
    line-height: 1;
}
.item-price__old{
    font-size: 0.6rem;
    color: #999999;
    margin-top: 0.5rem;
    line-height: 1;
    text-decoration: line-through;
}
.item-price__new{
    font-size: 0.85rem;
    color: #48a6fd;
    margin-top: 0.75rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 0.95rem;
}
.header-items .item{
    display: inline-block;
}
.flex{
    display: flex;
}
.flex1{
    flex: 1;
}
.mr{
    margin:0 0.4rem 0 0.4rem;
}
